@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
 
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(221, 100%, 96%);
    font-family: Hanken Grotesk;
}

.container {
    background-color: white;
    box-shadow: 0 3px 10px rgba(226, 220, 220, 0.651);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 24px;
    width: 500px;
    
}

.left {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* width: 500px; */
    border-radius: 24px;
}

.right > h3,
.left > h3 {
    font-size: 18px;
    margin: 16px;
}

.circle {
     background: linear-gradient(to bottom, hsl(256, 72%, 46%), hsl(241, 81%, 54%));
     border-radius: 100%;
     width: 150px;
     height: 150px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.circle > h3 {
    font-size: 50px;
}

.great {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.great > h3 {
    margin: 16px;
}

.great > p {
    font-size: 12px;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 18px;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: fit-content; */
    /* margin: 40px; */
}


.right > div {
    /* margin-top: 35px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.re {
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    border-radius: 8px;
}

.re > div {
    display: flex;
    gap: 8px;
    font-size: 14px;
    align-items: center;
}

.re > div > p {
    font-weight: bold;
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1)
}

.memory > div > p {
    color: hsl(39, 100%, 56%);
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.reaction > div > p {
    color: hsl(0, 100%, 67%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.verbal > div > p {
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.visual > div > p {
    color: hsl(234, 85%, 45%);
}

button {
    padding: 8px 32px;
    width: 200px;
    margin: 18px;
    align-self: center;
    border-radius: 32px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    border: none;
}